.container {
	padding-bottom: 70px;
}

#heading-desc {
	font-family: "Libre Barcode 39 Text", cursive;
	font-size: 50px;
}

#logout-button {
	float: right;
	margin-bottom: 15px !important;
}

select:invalid { 
	color: gray; 
}

.selection-field {
	padding-left: 7px;
}