/*SASS!!!*/
$mainColor: #1a2930 !important;
$accentTeal: #bdf4de;

$headFont: bold 80px times, sans-serif;
$navFont: 15px arial, sans-serif;
$mainFont: arial, sans-serif;


.container {
	padding-bottom: 70px;
}

body {
	background-image: url("../images/greyzz_@2X.png");
}

/*FIRST INSTANCE OF SASS VARIABLES USED*/
.jumbotron {
	background-color: $accentTeal;
}

#heading-title {
	font: $headFont;
}

#heading-desc {
	font-family: "Libre Barcode 39 Text", cursive;
	font-size: 60px;
}

.navbar {
	border-color: $mainColor; 
	font: $navFont;
}

/*SASS NESTING OPTION UTILIZED*/
.panel {
	border-color: $mainColor;
    font-family: $mainFont;


    .panel-heading {
    	background-color: $mainColor;
    	border-color: $mainColor;
    }
}

.btn-primary {
	background-color: $mainColor;
}

select:invalid { 
	color: gray; 
}

select[type=text] {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    color: gray;
}

.selection-field {
	padding-left: 12px;
}

.tableImg {
    padding: 20px;
}

.tableText {
    vertical-align: middle;
}

#auth-message {
	text-align: center;
	font-family: $mainFont;
	font-weight: bold;
}

#address-heading {
	width: 230px;
}

#emp-list-headings {
	font-weight: bold;
}

.item-heading {
	font-weight: bold;
	font-size: 20px;
}

#logout-button {
	float: right;
	margin-bottom: 15px !important;
	margin-right: 15px;
}